.tooltip {
  position: absolute;
  left: 100%;
  z-index: 100;
  background: black;
  color: white;
  width: 10rem;
  transform: rotate(-3deg);
  border-radius: 10px;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%) translateY(-5px);
  color: #24f824;

  p {
    margin-left: 1rem;
    text-shadow: 0 0 2px #24f824;
  }

  .pointer {
    animation: point 1s ease-out 0s infinite;
  }

  @keyframes point {
    50% {
      transform: translateX(0.5rem) rotate(20deg);
    }
  }
}
