.newPost {
  display: flex;
  border: 3px solid #ffef4c;
  border-radius: 10px;
  padding: 0.5rem;
  flex-direction: column;
  width: 40ch;
  text-align: center;

  button {
    margin-top: 1rem;
  }
}
